// main.styl


// Imports
// =======

@import '_typography'


// Base styles
// ===========

html
  box-sizing: border-box

*, *::before, *::after
  box-sizing: inherit

[v-cloak]
  display: none

body
  background: #fff

small
  position: fixed
  top: 20px
  right: 20px
